
header  {
    background-color: black;

}

body{
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    background-color: black;
    max-width: 1200px;
}

nav{
    height: 69px;
    padding: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid seashell;
}

#logo {
    height: 50px;
    margin-left: 10px;
}
.navbar {
    display: flex;
    gap: 20px;
    margin-left: auto;
    margin-right: 20px; 
    align-items: center;
    justify-content: space-around;
}

.navbar li {

    color: seashell;
    opacity: 0.9;
    text-decoration: underline;
    list-style-type: none;

}

#mission  {
    background-image: url("images/img-mission-background.jpg");
    background-size: cover;
    color: seashell;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* filter: brightness(50%); */
}

#mission .ribbon  {
    /* height: 100px; */
    background-color: black;
    gap: 10px;
    opacity: 0.7;
}

#tea {
    margin-bottom: 40px;
}

#tea .ribbon  {
    color: seashell;
    text-align: center;
}

.menu  {
    max-width: 1000px;;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    /* flex-basis: 0; */
}

.menu img  {
    max-height: 150px;
}

figure  {
    color: seashell;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

#locations {
    color: seashell;
    text-align: center;
    padding: 10px;
    padding: 50px;
}

.header {
    margin: 0;
    padding: 20px;
}

.place {
    width: 300px;
    background-color: black;
    padding: 12px;
}

.places,.container {
    display: flex;
    justify-content: space-around;
    margin: 0;
    gap: 40px;
}

li {
    list-style: none;
}

footer {
    text-align: center;
    color: seashell;
}

.copyright {
    text-align: left;
    font-size: 18px;
}