body {
    background-color: black;
    color: aliceblue;
    text-align: center;
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
}

a {
    /* text-decoration: none; */
    color: skyblue;
}

video {
    /* position: relative; */
    /* z-index: -1; */
    object-fit: cover;
}
