


* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; /* Optional, but highly recommended */
}

body {
    /* color: black; */
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    max-width: 1080 px;
}

.mobile {
    display: none;
}
/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    max-height: 64px;
    width: auto;
    padding: 24px;
    align-items: center;
}

#logo {
    display: inline-flex;
    max-height: 32px;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    padding: 10px;
}

main {
    /* padding: 32px; */
    /* margin: 32px 24px; */

    background-color: rgb(219, 219, 219);
}

#banner {
    display: flex;
    align-items: center;
    padding: 32px 0px 32px 24px;
    gap: 24px;
}

#banner img {
    width: 60%;
}

#banner ul {
    flex-direction: column;
    align-items: flex-start;
}

#start-button {
    background-color: #4a4a4a;
    color: azure;
    padding: 8px;
    width: 100%;
    font-weight: bold;
}

/* second row */
#infobanner {
    display: flex;
    padding: 32px 0px 32px 24px;
    background-color: white;
    justify-content: stretch;
    align-items: stretch;
    gap: 24px;
}

#infobanner .left-side {
    display: flex;
    max-width: 60%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* background-color: aquamarine; */
    padding: 0;
}

#infobanner .left-side img {
    width: 100%;
    margin-bottom: 32px;
}

.left-side h2 {
    margin-bottom: 24px;
}

/* right side */
#infobanner .right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

.sidebar {
    background-color: rgb(219, 219, 219);
    display: flex;
    padding: 16px;
    gap: 16px;
    align-items: center;
}

.sidebar img {
    width: 35%;
    height: auto;
}

.sidebar figcaption {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: auto;
}

/* COURSES */

#courses {
    padding: 0 72px;
}
#courses h2{
    text-align: center;
    padding: 32px 0;
    margin: 0;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
    padding: 0;
    margin-bottom: 32px;
    align-items: flex-start;
}

.list figure {
    display: flex;
    flex-direction: column;
    /* flex-basis: 100%; */
    max-width: 30%;
    height: auto;
    /* min-height: 35%; */
    height: 35vh;
    background-color: white;
    
}

.list figure img {
    height: auto;
    width: 100%;
}

.list figure figcaption {
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    padding: 16px;
    gap: 8px;
}

.card figcaption{
    padding: 16px;
    margin: 0;
}

/* SECTION THESIS */


#thesis {
    background-color: white;
    padding: 32px 0px 32px 24px;
}

#thesis h2 {
    text-align: center;
    padding-bottom: 32px;

}

#thesis .container{
    display: flex;
    gap: 24px;
}

#thesis .container ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    /* margin: 0; */
    gap: 0;
}

video {
    width: 100%;
    padding-bottom: 24px;
}

.container .media {
    max-width: 60%;
}

p {
    padding: 8px 0;
}

footer {
    padding: 32px 0px 32px 24px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 500px) {
    #logo h2 {
        display: none;
    }

    .mobile {
        display: inline;
    }

    .desktop {
        display: none;
    }

    nav ul li {
        display: none;
    }

    #banner {
        flex-direction: column;
        padding: 0;
    }

    #banner img {
        width: 100%;
    }

    #infobanner {
        padding: 0;
        background-color: white;
    }

    #infobanner .right-side {
        background-color: white;
        gap: 0;
    }

    #infobanner .left-side {
        display: none;
    }

    .right-side .sidebar {
        background-color: white;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .sidebar img {
        width: 100%;
    }

    #courses .list {
        margin: 0;
        padding: 32px 16px;
        flex-flow: column nowrap;
        gap: 8px;
        
        /* height: auto; */
    }

    .list figure {
        height: auto;
        min-width: 100%;
        align-items: stretch;
    }

    #thesis .sidebar {
        display: none;
    }

    #thesis .container {
        justify-content: center;
    }

}